*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(to right,rgb(243, 69, 98),purple);
}
nav{
    width: 100%;
    padding: 50px 40px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
}
nav ul li{
    width: 19%;
    padding: 12px 0px;
    justify-content: center;
    background-color: orange;
    font-weight: 900;
}
main{
    padding: 0px 40px;
}
.first{
    display: flex;
}
.mainleft{
    width: 65%;
    padding: 170px 40px;
    background-color: white;
}
.mainright{
    width: 35%;
}
.mainleft h1{
    width: 35%;
    text-align: center;
    background-color: orange;
    margin-bottom: 20px;
    padding: 8px 0px;
}
.mainleft h3{
    width: 22%;
    text-align: center;
    background-color: orange;
    padding: 8px 0px;
}
.rightust,.rightalt{
    width: 92%;
    background-color: orange;
    text-align: center;
    padding: 75px 0px;
    margin-left: 8%;
}
.rightust{
    margin-bottom: 8%;
}
.rightalt h1,.rightust h1{
    font-size: 60px;
    font-weight: lighter;
}
.rightalt h3,.rightust h3{
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.second{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px 0px;
}
.icons{
    width: 24%;
    background-color: white;
    padding: 25px 0px;
}
.icons .icon{
    font-size: 40px;
}
.icons h3{
    margin-bottom: 20px;
}
.third{
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: white;
}
.left{
    width: 40%;
}
.right{
    width: 60%;
}
.right>*{
    padding: 10px 0px;
}
.right button{
    background-color: orange;
    padding: 10px 30px;
}
footer{
    width: 100%;
    padding: 25px 40px;
    text-align: center;
}
.photos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0px;
}
.photos img{
    width: 19%;
    margin-bottom: 20px;
}
footer h1::before{
    content: "";
    width: 41%;
    height: 20px;
    display: inline-block;
    background-image: linear-gradient(to right,rgba(255, 166, 0, 0),orange);
    margin-right: 20px;
}
footer h1::after{
    content: "";
    width: 41%;
    height: 20px;
    display: inline-block;
    background-image: linear-gradient(to left,rgba(255, 166, 0, 0),orange);
    margin-left: 20px;
}